html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #f5f3ec;
  }
  
  .page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .main-frame {
    position: relative;
    width: 1200px;
    height: 910px;
    transform: scale(0.7);
    transform-origin: center center;
  }

  /* left-section*/

  .left-section{
    position:absolute;
    width: 698px;
    height: 800px;
    transition: transform 1.2s ease-out;
    z-index:3;
  }
  
  .left-section:hover{
    transform: translateY(-10px);
  }

  /* Background */
  .green-layer {
    position: absolute;

    width: 698px;
    height: 800px;
    left: 0px;
    top: 0px;
    
    background: url("static/images/left-card.png");
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.3));
  }

  .right-section{
    position:relative;
    top: 50px;
    width: 698px;
    height: 800px;
    transition: transform 1.2s ease-out;
    z-index:2;
  }
  
  .right-section:hover{
    transform: translateY(-10px);
  }
  

  .brown-layer {
    position: relative;
    width: 1085px;
    height: 661px;
    left: 116px;
    top: 250px;
    animation: slideUp 1.8s ease-out forwards;
    z-index:2;
  }


  .right-card{
    position:absolute;

    top:-185px;
    left:0px;

    z-index:1;
  }


  /*Profile Section*/
  .profile-section{
    position: relative;
    left:0px;
    width: 698px;
    height: 500px;

    z-index: 2;

  }

  /* Profile */

  /*profile bubble*/
  .profile-box {
    position: absolute;

    width: 559px;
    height: 571px;

    top: 32px;
    left: 50%;               
    transform: translateX(-50%);  
    display: flex;
    background: url("static/images/profile-bubble.png") no-repeat center center;
  }

  .profile-pic {
    width: 260px;
    height: 260px;
    left: 430px;
    margin-top: -15%;
    position: absolute;
    border-radius: 50px;
    border: 9px #49583E solid;
  }

  .name-bio{
    position:relative;
  }

  .name-box {
    width: 421px;
    height: 51px;
    left: 63px;
    top: 80px;
    position: absolute;
    font-size: 40px;
    font-family: 'Krona One';
    font-weight: bold;
    color: black;
  }

  .bio {
    width: 385px;
    height: 126px;
    left: 52px;
    top: 146px;
    position: absolute;
    text-align: center;
    color: #8E8E8E;
    font-size: 14px;
    font-family: 'Krona One';
  }

  .social-buttons{
    position: absolute;
    margin-top:54%;
    margin-left:25%;
    display: flex;
    gap: 15px;
    z-index: 2;
  
  }

  .btn {

    border-radius: 50px;
    padding: 10px;

    background: #3C3C3C;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Krona One';
    text-decoration: none;
    cursor: pointer;
  }
  
  .github {
    width: 121px;
    height: 40px;
    left: 145px;
    top: 266px;

    user-select: none;
  }
  
  .instagram {
    width: 178px;
    height: 40px;
    left: 280px;
    top: 266px;

    user-select: none;
  }

  .btn.github:hover,
    .btn.instagram:hover {
      background: #555;
      cursor: pointer;
    }

    .kofi-button:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
      cursor: pointer;
    }

    /* ----------------------------------------------------- */
/* music player */

  .music-player{
    position:relative;
    width: 450px;
    height:120px;
    top:390px;
    left: 50%;                /* 가운데 기준으로 */
    transform: translateX(-50%);  /* 자신의 너비의 절반만큼 왼쪽으로 이동 */
  }

  .now-playing{
    position: absolute;
    left: 120px;
    font-family: 'Krona One';
    font-size: 20px;
    color:#677C58;
    font-weight: bold;

    user-select: none;
  }

  .CD-icon{
    position: absolute;
    top: -10px;
    left: -30px;
    width: 140px;   /* 원하는 가로 크기 */
    height: auto;
  }

  .spotify-embed {
    position: absolute;
    width: 350px;
    top: 40px;
    left: 120px;
    z-index: 10;
  }

  .youtube-embed {
    position: absolute;
    width: 350px;
    top: 40px;
    left: 120px;
    z-index: 10;
  }
  
  
    

    /* ---------------------------------------------------------- */
    /* MBTI */



  .mbti-container {
    position: relative;
    display: flex;

    left: 0px;
    top: 95px;
    width: 400px;
    height: 299px;

    gap: 30px;
    left: 41%;                /* 가운데 기준으로 */
    transform: translateX(-50%);  /* 자신의 너비의 절반만큼 왼쪽으로 이동 */
    display: flex;
    align-items: flex-start;
    z-index: 1;
  }
  
  .mbti-text-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
  }
  
  .mbti-header {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    pointer-events: none;
  }
  
  .mbti-label {
    font-family: 'Lemon';
    font-size: 25px;
    color: white;
    pointer-events: none;
  }
  
  .mbti-type {
    position: absolute;
    font-family: 'Lemon';

    top: -30px;
    left: 190px;
    font-size: 55px;
    color: white;
    pointer-events: none;
  }
  
  .mbti-desc {
    position: absolute;
    width:340px;
    top: 35px;
    left: 100px;
    font-family: 'Lemon';
    font-size: 12px;
    color: white;
    line-height: 1.5;
    pointer-events: none;
  }
  
 

  /* ------------------------------------------------------------- */
  /* corner decor section */

  .corner-section{
    position:relative;
    width: 400px;
    height: 300px;
    left: 800px;
    top: 0px;

  }

  .thinking-bubble {
    width: 116px;
    height: 107px;
    left: 270px;
    position: absolute;
  }

  .jiji-gif {
    width: 230px;
    height: 230px;
    left: 20px;
    position: absolute;
    transform-origin: top left;
  }
  
  .glasses-text {
    width: 351px;
    height: 45px;
    margin-top: -10%;
    position: absolute;
    color: #3C3C3C;
    font-size: 14px;
    font-family: 'Krona One';

    user-select: none;
  }
/* ------------------------------------------------------------- */
  /* nav-bar */

  .nav-bar {
    position: relative;
    width: 759px;
    height: 38px;
  }

  .nav-home{
    position: absolute;

  }
  .nav-journal{
    position: absolute;

  }
  .nav-login{
    position: absolute;

  }

  /* ------------------------------------------------------------- */
  /* Card Section */

  .card-section {
    width: 426px;
    height: 392px;
    left: 639px;
    top: 10px;
    position: absolute;
    font-family: 'Krona One';

    z-index: 2;
    
  }
  
  .top-bar {
    position: absolute;
    width: 466px;
    height: 68px;
    margin-top: -20%;
    margin-left:5%;
  }

  .my-works {
    margin-top: -15%;
    margin-left:9%;
    position: absolute;
    color: white;
    font-size: 20px;

    user-select: none;
  }
  
  .under-construction {
    width:400px;
    margin-top: -15%;
    margin-left:50%;
    position: absolute;
    color: white;
    font-size: 20px;

    user-select: none;
  }

  .card {
    width: 426px;
    height: 150px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .card-1{
    top:10px;
  }
  .card-2 {
    top: 25px;
  }
  
  .card-img {
    width: 426px;
    height: 150px;
    border-radius: 30px;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }
  
  .card-overlay-1 {
    width: 426px;
    height: 150px;
    position: absolute;
    background: rgba(73, 73, 73, 0.3);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    cursor: pointer;
  }

  .card-overlay-2 {
    width: 426px;
    height: 150px;
    position: absolute;
    background: rgba(73, 73, 73, 0.3);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    cursor: pointer;
  }

  .card-overlay-1:hover {
    width: 426px;
    height: 150px;
    position: absolute;
    background: rgba(171, 200, 196, 0.3);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    cursor: pointer;
  }
  
  .card-text {
    position:absolute;
    color: white;
    top:20px;
    left:20px;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
    pointer-events: none; /*눈엔 보이지만 이벤트 차단*/
    z-index: 2;
  }
  



/* ----------------------------------------------------- */
/* view-more-Works */

.bottom-button-section{
  position : relative;
  left: 650px;
  top: 420px;
  width: 426px;
  height: 392px;
}

  .view-more-box {
    width: 228.72px;
    height: 180.11px;

    left: -25px;
    position: absolute;
    background: url("./static/images/more-works-button.png");
    z-index: 2;
  }
  
  .view-more-text {

    top: 44px;
    left: 15px;
    width: 228px;
    height: 180px;

    position: absolute;
    color: white;
    text-shadow:
    -4px -4px 0 #383838,
     4px -4px 0 #383838,
    -4px  4px 0 #383838,
     4px  4px 0 #383838,
    -5px  0   0 #383838,
     5px  0   0 #383838,
     0   -5px 0 #383838,
     0    5px 0 #383838;
    font-size: 32px;
    font-family: 'Krona One';
    cursor: pointer;

    user-select: none;
    z-index: 2;
  }
  
  .click-text {

    top: 130px;
    left: 100px;

    width: 99px;
    height: 23px;

    position: absolute;
    color: white;
    text-shadow:
    -4px -4px 0 #383838,
     4px -4px 0 #383838,
    -4px  4px 0 #383838,
     4px  4px 0 #383838,
    -5px  0   0 #383838,
     5px  0   0 #383838,
     0   -5px 0 #383838,
     0    5px 0 #383838;
    font-size: 20px;
    font-family: 'Krona One';

    user-select: none;
    z-index: 2;
  }
  
  .view-more-text:hover {
    width: 300px;
    height: 180px;
    font-size: 34px;
    transition: font-size 0.3s ease;
    cursor: pointer;
    z-index:3;
  }

  /* ----------------------------------------------------- */
  /* Ko-fi */
  .kofi-button {
    width: 172px;
    height: 172px;
    left: 230px;

    position: absolute;
    background : url("static/images/ko-fi-button.png") no-repeat center center;
    z-index: 2;
  }

  /* ----------------------------------------------------- */
  /* bottom */

  .bottom-section{
    position: relative;
    width: 400px;
    height: 99.27px;
    top: 100px;
    left: -600px;
    z-index: 2;
  }

  .bottom-jiji {
    width: 99.27px;
    height: 99.27px;
    position: absolute;
    transform-origin: top left;
  }
  
  .code-box {
    width: 373px;
    height: 44px;
    top: 40px;
    left: 120px;
    position: absolute;
    background: url("static/images/chat-bubble.png")
  }
  
  .code-text {
    width: 400px;
    top: 45px;
    left: 145px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: 'Hi Melody';
  }